<p>
  This application is developed in order to compare performance of Azure and AppHarbor cloud providers.
</p>
<p>
  Table on the left represents statistics of tests that are conducted. Bar chart on the right displays average response
  time of each request. Linear charts below display change of average response time based on test count. There is one
  chart for each test.
</p>
<p>

  Azure account is a student account and AppHarbor price plan is <i>Canoe</i> i.e free.
</p>
<p>
  <i><strong>Note:</strong> IIS recycles AppHarbor application pools after 20 minutes of inactivity. The first request once app pool
  restarts takes longer than usual. First test might be misleading.
  </i>
</p>
