.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  background-color: #fff;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 3%;
}

header span {
  margin-right: 7px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  opacity: 1;

}

header button {
  background-color: cadetblue;
  color: hsla(0, 0%, 100%, .87);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 36px;
  min-height: 36px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

header input {
  border: none;
  width: 36px;
  border-bottom: cadetblue 1px solid;
  margin-right:15px;

}

header button i {
  vertical-align: middle;
}


.mdl-data-table {
  margin: 10px;
  max-width: calc(50% - 25px);
  box-sizing: border-box;
}

tr, td {
  height: 30px !important;
  text-align: center !important;
  font-size: 12px;
}

td {
  padding: 8px 11px;
}

.test-name {
  text-align: left !important;
  vertical-align: middle;
}

.th-test-name {
  text-align: left;
}

.bold {
  font-weight: 800;
}

.green {
  color: lightgreen;
}

.red {
  color: red;
}

.barChart {
  margin: 10px;
  display: block;
  box-sizing: border-box;
  width: calc(50% - 25px);
  max-height: 416px;

}

.averageChart {
  display: flex;
  flex-wrap: wrap;
}

app-average-chart {
  width: 472px;
  height: 235px;
  margin: 10px;
}
