body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  color: #212121;
  text-align: center;
  background-color: #f5f5f5;
  text-rendering: optimizeLegibility;
}
